/* span{
  color:orange;
} */



/* li > ul{
  color:blue;
} */



/* li[data-location="north"], li[data-location="south"]{
  text-decoration: underline;
}
li[data-location="west"]~li[data-location="west"]{
  font-weight: bold;
} */


/* 
li[data-location="west"]{
  font-size: 30px;
} */



li:not([data-location="center"])::first-letter{
    color:yellow
 }
 /*
 
 //1. Виділити Львів оранжевим
 //2. Виділити городок та золочів голубим кольором
 //3. Підкреслити перші елементи, а останні зробити жирними
 //4. Дати західним містам розмір шрифта 30 пікселів 
 //5. У всіх елементів крім Дніпра, виділити першу букву жовтим кольором.
 
 */